# TaskFlow Engine Environment Variables
# Copy this file to .env and fill in the values

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-k!d=e=8+r6$s^nhq&!-%p!klgim6ti!3x$!5dn$ylj%j02zhqu
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Database Settings
POSTGRES_DB=task_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis / Celery
REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
